*.pid
*.xml
*.csr
*.crt
*.key
*.conf
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
ecobee.conf
plex.conf


# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
node-red

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
zones.yaml
